body {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

h2 {
    width: 50%;
    text-align: justify;
    font-size: 1.5em;
}

article {
    width: 48%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

article img {
    width: 100%;
    height: auto;
}

ol {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 50px;
}

nav{
    width: 50%;
}
li {
    text-align: center;
}

li:hover {
    background-color: aquamarine;
    color: purple;
}

p {
    font-family: Roboto;
    text-align: justify;
    padding: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.descripcion {
    padding-top: 10px;
}

footer {
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
    font-size: 0.8em;
    width: 100%;
}
@media(max-width:600px){
    h3{
        font-size: smaller;
    }
    article{
        width: 100%;
    }
    header{
        flex-wrap: wrap;
    }
}