body{
    width: 70%;
    margin: auto;
    border: 1px solid black;
}
h2{
    color: red;
}
ol{
    padding: 0%;
}
li{
    background-color: black;
    color: white;
    border-bottom: 1px solid #fff;
}
a{
    
}